@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.drink-of-the-day-card {
  border-radius: 10px;
  max-width: 60%;
  margin: 40px auto;
  width: 60%;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgba(0 0 0 / 19%);
  transition: transform 0.1s ease;
}

.drink-of-the-day-card-container {
  padding: 16px 30px 30px;
}

.drink-of-the-day-card:hover {
  transform: scale(1.02);
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-flow: row wrap;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper h2 {
  flex-basis: 100%;
  text-align: center;
  padding: 0 0 10px;
  font-family: Raleway, Lato, sans-serif;
  font-weight: 500;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .left {
  flex-basis: 50%;
  font-family: Lato, sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .left p:first-child {
  margin-top: auto;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .left h3 {
  margin: none;
  font-family: Raleway, Lato, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .right {
  flex-basis: 50%;
  display: flex;
  justify-content: end;
}

.drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .right img {
  overflow-x: hidden;
  border-radius: 8px;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgba(0 0 0 / 19%);
}

.drink-of-the-day-card .drink-of-the-day-card-container .info-container p::before {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 1.5em;
  color: #fbc4ab;
  margin-right: 6px;
  font-weight: 300;
}

.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-category::before,
.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-glass::before,
.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-alcoholic::before {
  vertical-align: -20%;
}

.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-category::before {
  content: '\e574';
}

.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-glass::before {
  content: '\e540';
}

.drink-of-the-day-card .drink-of-the-day-card-container .info-container #drink-of-the-day-alcoholic::before {
  content: '\ea60';
}

@media only screen and (width <= 1060px) {
  .drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper {
    flex-flow: column no-wrap;
    justify-content: center;
  }

  .drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .right img {
    margin-top: 1rem;
  }
}

@media only screen and (width <= 992px) {
  .drink-of-the-day-card {
    max-width: 90%;
    width: 90%;
  }

  .drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .right img {
    margin-top: 0;
  }
}

@media only screen and (width <= 512px) {
  .drink-of-the-day-card .drink-of-the-day-card-container .link-wrapper .right img {
    margin-top: 1rem;
  }
}
