/* Favorite Toggle */
.favorite-toggle {
  font-size: 2em;
  color: #fbc4ab;
  margin-right: 0.5em;
  font-weight: 300;
  position: absolute;
  top: 36px;
  right: 30px;
  cursor: pointer;
  transition: 0.02s ease-in;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.favorite-toggle:hover {
  transform: scale(1.1);
}

.favorite-toggle:active {
  transform: scale(1);
}

.favorite {
  color: #f00;
}

@media screen and (width <= 992px) {
  .favorite-toggle {
    top: 90px;
  }
}
