/* Favorite Toggle */
.favorite-toggle {
  position: relative;
  font-size: 1.7em;
  color: transparent;
  font-weight: 300;
  cursor: pointer;
  transition: 0.08s ease-in;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: #fbc4ab;
}

.favorite-toggle:hover {
  transform: scale(1.1);
}

.favorite-toggle:active {
  transform: scale(1);
}

.favorite-toggle.favorite {
  color: #f00;
}
