@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

.mobile {
  width: 100%;
  height: 100%;
  background-color: #f08080;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (width <= 992px) {
  .mobile {
    display: flex;
    justify-content: space-between;
  }
}

.mobile .links {
  display: flex;
  justify-content: flex-end;
}

.mobile .link {
  text-align: center;
  text-decoration: none;
  padding: 1.25rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: #fbc4ab;
}

.mobile .link:hover {
  color: white;
}

.mobile .link.active {
  color: white;
}

.mobile .logo {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: #313030;
  background-color: #fbc4ab;
  text-decoration: none;
}

.mobile .logoIcon {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: #313030;
  background-color: #fbc4ab;
  text-decoration: none;
  display: none;
}

@media screen and (width <= 460px) {
  .mobile .logo {
    display: none;
  }

  .mobile .logoIcon {
    display: block;
  }
}
