.category {
  flex-grow: 1;
  margin: 0 auto;
  padding: 3rem 1rem 1rem;
  background-color: #fff;
  border: solid 1px #eaeaea;
  border-radius: 8px;
  text-decoration: none #f2c2a6;
  transition: 0.2s ease-in-out;
}

.category h3 {
  color: #000;
  font-family: Lato, sans-serif;
  font-weight: 500;
}

.category:hover {
  border: solid 1px #000;
  cursor: pointer;
  text-decoration: underline #f2c2a6;
}

@media screen and (width <= 460px) {
  .category {
    width: 100%;
  }
}
