@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.drink-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  overflow-x: hidden;
}

.drink-container .info,
.drink-container .ingredients,
.drink-container .instructions {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.drink-container .ingredients,
.drink-container .instructions {
  margin-top: 40px;
  padding: 0;
  flex-basis: 50%;
}

.drink-container .section-header {
  font-family: Raleway, Lato, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

/* **** Return Button **** */
.drink-container .return-button-container .return-button {
  font-size: 2em;
  color: #fbc4ab;
  margin-right: 0.5em;
  font-weight: 300;
  position: absolute;
  top: 36px;
  left: 320px;
}

@media screen and (width <= 992px) {
  .drink-container .return-button-container .return-button {
    left: 5%;
    top: 90px;
  }
}

.drink-container .return-button-container .return-button:hover {
  color: #f08080;
}

/* **** Header **** */
.drink-container .drink-header {
  margin: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.drink-container h1 {
  text-align: center;
  padding: 0;
  font-size: 2em;
  font-family: Raleway, Lato, sans-serif;
  font-weight: 500;
}

/* **** Image **** */
.drink-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-basis: 100%;
}

.drink-container .image-container img {
  height: 300px;
  overflow-x: hidden;
  border-radius: 8px;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgba(0 0 0 / 19%);
  transition: transform 0.3s ease-out;
}

.drink-container .image-container img:hover {
  transform: scale(1.02);
}

/* **** Info **** */

.drink-container .info {
  margin: 40px auto 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.drink-container .info p::before {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 1.5em;
  color: #fbc4ab;
  margin-right: 6px;
  font-weight: 300;
}

.drink-container .info #drink-category::before,
.drink-container .info #drink-glass::before,
.drink-container .info #drink-alcoholic::before {
  vertical-align: -20%;
}

.drink-container .info #drink-category::before {
  content: '\e574';
}

.drink-container .info #drink-glass::before {
  content: '\e540';
}

.drink-container .info #drink-alcoholic::before {
  content: '\ea60';
}

/* **** Ingredients **** */

.drink-container .ingredients-list li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.drink-container .ingredients-list li div:first-child {
  min-width: 120px;
}

@media screen and (width <= 924px) {
  .drink-container .info p {
    margin-right: 20px;
  }

  .drink-container .instructions p {
    max-width: 70%;
  }

  .drink-container .info p:last-child {
    margin-right: 0;
  }

  .drink-container .ingredients,
  .drink-container .instructions {
    margin-top: 20px;
    flex-basis: 100%;
  }
}

@media screen and (width <= 790px) {
  .drink-container .instructions p {
    max-width: 100%;
  }
}

@media screen and (width <= 680px) {
  .drink-container .info {
    flex-direction: column;
    align-items: start;
    flex-basis: 50%;
  }

  .drink-container .ingredients {
    margin-top: 40px;
    flex-basis: 50%;
  }
}

@media screen and (width <= 440px) {
  .drink-container .info {
    flex-basis: 100%;
  }

  .drink-container .ingredients {
    margin-top: 20px;
    flex-basis: 100%;
  }
}
